<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="logo" src="/img/logo.png">
      <a class="brand" href="/">cscheatsheet</a>
      <div class="nav-collapse collapse">
        <!-- #nav-left BEGIN -->
        <div id="nav-left">
          <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Structures<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dynamic Array</a></li>
                  <li><a href="#">Singly-Linked List</a></li>
                  <li><a href="#">Doubly-Linked List</a></li>
                  <li><a href="#">Stack</a></li>
                  <li><a href="#">Queue</a></li>
                  <li><a href="#">Deque</a></li>
                  <li><a href="#">Skip List</a></li>
                  <li><a href="#">Hash Table</a></li>
                  <li><a href="#">Binary Tree</a></li>
                  <li><a href="#">Cartresian Tree</a></li>
                  <li><a href="#">N-ary Tree</a></li>
                  <li><a href="#">Balanced Tree</a></li>
                  <li><a href="#">B-Tree</a></li>
                  <li><a href="#">Red-Black Tree</a></li>
                  <li><a href="#">Splay Tree</a></li>
                  <li><a href="#">AVL Tree</a></li>
                  <li><a href="#">M-Way Tree</a></li>
                  <li><a href="#">kd-Tree</a></li>
                  <li><a href="#">Weight-Balanced Tree</a></li>
                  <li><a href="#">Binomial Tree</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Adjacency list</a></li>
                  <li><a href="#">Incidence list</a></li>
                  <li><a href="#">Adjacency matrix</a></li>
                  <li><a href="#">Incidence matrix</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Searching<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Depth First Search (DFS)</a></li>
                  <li><a href="#">Breadth First Search (BFS)</a></li>
                  <li><a href="#">Uniform-Cost Search</a></li>
                  <li><a href="#">Binary search</a></li>
                  <li><a href="#">Linear (Brute Force)</a></li>
                  <li><a href="#">Shortest path by Dijkstra, using a Min-heap as priority queue</a></li>
                  <li><a href="#">Shortest path by Dijkstra, using an unsorted array as priority queue</a></li>
                  <li><a href="#">Shortest path by Bellman-Ford</a></li>
                  <li><a href="#">A-star Heuristic Search</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sorting<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Quick Sort</a></li>
                  <li><a href="#">Merge Sort</a></li>
                  <li><a href="#">Heap Sort</a></li>
                  <li><a href="#">Bubble Sort</a></li>
                  <li><a href="#">Insertion Sort</a></li>
                  <li><a href="#">Select Sort</a></li>
                  <li><a href="#">Bucket Sort</a></li>
                  <li><a href="#">Radix Sort</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Heaps<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Linked List (sorted)</a></li>
                  <li><a href="#">Linked List (unsorted)</a></li>
                  <li><a href="#">Binary Heap</a></li>
                  <li><a href="#">Binomial Heap</a></li>
                  <li><a href="#">Fibonacci Heap</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Algorithms<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Hill-climbing</a></li>
                  <li><a href="#">Simulated Annealing</a></li>
                  <li><a href="#">Manhattan Channel Routing</a></li>
                  <li><a href="#">Genetic Algorithms</a></li>
                </ul>
              </li>
          </ul>
        </div>
        <!-- #nav-left END -->
        <!-- #nav-right BEGIN -->
        <div id="nav-right" class="pull-right">
          <ul class="nav">
          {{#if user}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name.full}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/create">Create</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
          </ul>
        </div>
        <!-- #nav-right END -->
      </div>
    </div>
  </div>
</div>
