<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="logo" src="/img/logo.png">
      <a class="brand" href="/"></img><b>p</b>ublic<b>r</b>anks</a>
      <div class="nav-collapse collapse">
        <!-- #nav-left BEGIN -->
        <div id="nav-left">
          <ul class="nav">
            <li>
              <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span2" placeholder="Search">
              </form>
            </li>
          </ul>
        </div>
        <!-- #nav-left END -->
        <!-- #nav-right BEGIN -->
        <div id="nav-right" class="pull-right">
          <ul class="nav">
          {{#if user}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name.full}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/create">Create</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
          </ul>
        </div>
        <!-- #nav-right END -->
      </div>
    </div>
  </div>
</div>
