<div class="page-header">
  <h1>Searching</h1>
</div>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#Pseudocode" alt="0">Pseudocode</a></li>
  <li><a href="#Java" alt="1">Java</a></li>
  <li><a href="#C" alt="2">C</a></li>
  <li><a href="#C++" alt="3">C++</a></li>
  <li><a href="#JavaScript" alt="4">JavaScript</a></li>
  <li><a href="#Objective" alt="5">Objective C</a></li>
  <li><a href="#Python" alt="6">Python</a></li>
  <li><a href="#Ruby" alt="7">Ruby</a></li>
  <li><a href="#Scala" alt="8">Scala</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="Pseudocode">
      <div class="page-body">
        Pseudocode
      </div>
    </div>
    <div class="tab-pane" id="Java">      
      <div class="page-body">
        Java
      </div>
    </div>
    <div class="tab-pane" id="C">      
      <div class="page-body">
        C
      </div>
    </div>
    <div class="tab-pane" id="C++">      
      <div class="page-body">
        C++
      </div>
    </div>
    <div class="tab-pane" id="JavaScript">      
      <div class="page-body">
        JavaScript
      </div>
    </div>
    <div class="tab-pane" id="Objective">      
      <div class="page-body">
        Objective C
      </div>
    </div>
    <div class="tab-pane" id="Python">      
      <div class="page-body">
        Python
      </div>
    </div>
    <div class="tab-pane" id="Ruby">      
      <div class="page-body">
        Ruby
      </div>
    </div>
    <div class="tab-pane" id="Scala">      
      <div class="page-body">
        Scala
      </div>
    </div>
</div>

<script>
$('.nav li a').click(function (e) {
    //alert($(this).html());
    $('#myTab li a').eq($(this).attr("alt")).tab('show'); 
});
</script>